body {
    background-color: #914642;
    color: #ffffff;
    overflow: hidden;
}


/* #bg-layer-1 {
    background-image: url('http://conversantm.com/VfJfnv/jXk5QKzXLo.png');
    background-repeat: no-repeat;
    background-position: right left;
} */

html {
    scroll-behavior: smooth;
  }

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding-top: 7vh;
    position: fixed;
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 399px) {
    h1 {
        max-width: 250px;
        padding-top: 3vh;
    }
}


p {
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    text-align: center;
}

@media only screen and (min-width: 400px) {
    p {
        margin-bottom: 2vh;
        font-size: 1.4rem;
      /* background-color: lightblue; */
    }
  }

nav {
    font-family: 'Assistant', sans-serif !important;
    font-weight: 100 !important;
    font-size: 1.2rem !important;
    bottom: 3vh !important;
    width: 60vw !important;
    left: 20vw !important;
    border-radius: 1px;
    background-color:rgba(248,249,250, 0.90) !important;
    padding: 0px 0px !important;
}

.nav-link {
    color: #914642;
    padding: .2rem .4rem;
}

.nav-link:hover {
    color: #ffffff;
}

a.nav-1 {
    border-right: 1px solid rgba(145,70,66,0.80) !important;
}

/* #invite-text-block {
    margin: 100px 0px;
} */

#flower-image-1 {
    position: fixed;
    top:-30px;
    left: -80px;
    transform: rotate(20deg); 
    z-index: -1;
}

@media only screen and (max-width:500px) {
    #flower-image-1 {
        position: fixed;
        top:-30px;
        left: -140px;
        transform: rotate(20deg); 
        z-index: -1;
    }
}

/* #flower-image-1:hover {
    position: absolute;
    left: -120px;   
} */

#flower-image-2 {
    position: fixed;
    right: -50px;
    bottom: -30px;
    transform: rotate(110deg);
    z-index: -1;
}

@media only screen and (max-width:500px) {
    #flower-image-2 {
        position: fixed;
        right: -90px;
        bottom: -130px;
        transform: rotate(110deg);
        z-index: -1;
    }
}

@media only screen and (min-width: 600px) {
    #flower-image-3 {
        position: fixed;
        right: -50px;
        bottom: 580px;
        z-index: -1;
    }
  }

  @media only screen and (max-width: 601px) {
    #flower-image-3 {
        display: none;
    }
  }




#page-header {
    height:20vh;
}

/*  #scroll-button {
    position: fixed;
    right: 45vw;
    top: 90vh;
}  */

#rsvp_form_div {
    text-align: center;
    height: 10vh;
}

/* #scoll-button-div {
    position: fixed;
    right: 50vw;
    top: 90vh;
} */

/* #rsvp_button {
    position: fixed;
} */

#invite-info {
    padding-bottom: 30vh;
    padding-top:5vh;
}

#rsvp-section {
    padding-top: 15vh;
    text-align: center;
    height:90vh;
}

#details-section {
    padding-top: 15vh;
    text-align: center;
    height:100vh;
}

#wedding-details {
    padding-top: 10vh;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #ffffff !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center; 
    color: #ffffff !important; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center; 
    color: #ffffff !important; 
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #ffffff !important;
 }

 ::placeholder {
    text-align: center; 
    color: #ffffff !important;
 }

 input{
     margin-bottom: 5vh;
     background-color: #f8f9fa66 !important;
     border: 0px !important;
     font-family: 'Assistant', sans-serif !important;
     font-weight: 100 !important;
     font-size: 1.2rem !important;
     border-radius: 0px !important;
 }

 a {
     color: lightblue;
     text-decoration: lightblue !important;
 }

 a:hover {
     color: #fff;
 }



 @media only screen and (max-width: 400px) {
    input {
        margin-bottom: 1vh;
      /* background-color: lightblue; */
    }
  }

 .input:focus {
    box-shadow: 0 0 5px #e7bcba;
}

button {
     font-family: 'Assistant', sans-serif !important;
     font-weight: 100 !important;
     font-size: 1.2rem !important;
     color: #914642 !important;
     background-color: rgba(255,255,255, 0.9) !important;
     border-radius: 2px !important;
}

#rsvp_button {
    position: fixed !important;
    text-align: center !important;
    left: 43vw;
}

#rsvp-form {
    padding-top: 10vh;
}

/* a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
 */
.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
    animation-iteration-count: 2;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


.modal-body {
    color: #914642;
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: left !important;
}

.modal-header {
    color: #914642;
    font-family: 'Amatic SC', cursive;

    padding: 1rem 1rem !important;
}

.modal-title {
    font-size: 2rem !important;
}

.btn-primary {
    border: none !important;
}

.pointer {
    cursor: pointer;
}

span {
    color: lightblue;
}

/* #flower-1 {
    width: 170px;
    opacity: 0.95;
}

#flower-2 {
    width: 190px;
    opacity: 0.95;
} */

/* 
#l_and_r_gutter {

    background-color: cornflowerblue;
}
 */

 /* make keyframes that tell the start state and the end state of our object 
 used:
 https://codepen.io/fr33co/pen/xOBXGy*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { 
    from { 
        opacity:0; 
        /* transform: rotate(0deg); */
    } 
    to 
    { 
        opacity:1; 
    } 
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
  }
  
  .fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  @-webkit-keyframes blowRight { from { transform: rotate(20deg); } to { transform: rotate(19deg); } }
  @-moz-keyframes blowRight { from { transform: rotate(20deg); } to { transform: rotate(19deg); } }
  @keyframes blowRight {
      from {
          transform: rotate(20deg);
      }
      to {
          transform: rotate(19deg);
      }
  }

  .blow-right {
    -webkit-animation:blowRight ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:blowRight ease-in 1;
    animation:blowRight ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }



  @-webkit-keyframes blowLeft { from { transform: rotate(110deg); } to { transform: rotate(111deg); } }
  @-moz-keyframes blowLeft { from { transform: rotate(110deg); } to { transform: rotate(111deg); } }
  @keyframes blowLeft {
      from {
          transform: rotate(110deg);
      }
      to {
          transform: rotate(111deg);
      }
  }

  .blow-left {
    -webkit-animation:blowLeft ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:blowLeft ease-in 1;
    animation:blowLeft ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }