
body {
    background-color: #843f3c;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
}


html, body {
    height: 100vh;
    overflow: hidden;
  }
  
.parent {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  
section {
    height: 100vh;
    scroll-snap-align: start;
    /* position: relative; */
  }


#invite_title {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: #843f3c; */
    z-index: 1;
}

section {
    padding-top: 20vh;
}


h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2rem;
}

.pointer {
    cursor: pointer;
}

span {
    color: #a0cbff;
}

a {
    color: #a0cbff;
    text-decoration: #a0cbff !important;
}

a:hover {
    color: #fff;
}


#meta_p {
    font-size: 0.9rem;
    margin-bottom: 0px;
    color: #ffffff5e;
}

#no_padding_p {
    margin-bottom: 0px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #ffffff !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center; 
    color: #ffffff !important; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center; 
    color: #ffffff !important; 
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #ffffff !important;
 }

 ::placeholder {
    text-align: center; 
    color: #ffffff !important;
 }

input{
    margin-bottom: 3vh;
    background-color: #f8f9fa66 !important;
    border: 0px !important;
    font-size: 1.2rem !important;
    border-radius: 0px !important;
}

input:focus { 
   /*  outline: none !important; */
    border-color: rgb(255, 255, 255)!important;
    box-shadow: 0 0 10px rgb(255, 255, 255)!important;
    border-radius: 0px !important;
}
/* textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
} */


.modal-body {
    color: #914642;
    font-size: 1.2rem;
    text-align: left !important;
}

.modal-header {
    color: #914642;
    font-family: 'Montserrat', sans-serif;

    padding: 1rem 1rem !important;
}

.modal-title {
    font-size: 1.5rem !important;
}

button {
    font-size: 1.2rem !important;
    color: #914642 !important;
    background-color: rgba(255,255,255, 0.9) !important;
    border-radius: 0px !important;
}

.modal-body a {
    color: #3c5d85;
}

.modal-content {
    border-radius: 0px;
}

.modal span {
    color: #914642
}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { 
    from { 
        opacity:0; 
        /* transform: rotate(0deg); */
    } 
    to 
    { 
        opacity:1; 
    } 
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
  }
  
  .fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }


  nav {
    font-size: 1rem !important;
    bottom: 3vh !important;
    width: 90vw !important;
    left: 5vw !important;
    border-radius: 1px;
    background-color:rgba(248,249,250, 0.90) !important;
    padding: 0px 0px !important;
}

.nav-link {
    color: #914642;
    padding: .2rem .4rem;
}

.nav-link:hover {
    color: #ffffff;
}

a.nav-1 {
    border-right: 1px solid rgba(145,70,66,0.80) !important;
}

/* .nav-link.active {
    border-radius: 0px !important;
    background-color: #a0cbff !important;
} */

/* a.active {
    color: #fff;
} */

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 3rem;
    }
    body {
        font-size: 1.2rem;
    }
    #invite_title {
        top: 50px;
    }
    section {
        padding-top: 23vh;
    }
    nav {
        width: 40vw !important;
        left: 30vw !important;
        font-size: 1.2rem!important;
    }
}


#thanks_img {
    padding-top: 30vh;
}

#thanks_title {
    top: 10vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: #843f3c; */
    z-index: 1;
}

input, select, textarea{
    color: #fff!important;
}